<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LCContainers</key>
    <array>
        <dict>
            <key>folderName</key>
            <string>MXLOCATION-DATA</string>
            <key>isolateAppGroup</key>
            <false/>
            <key>name</key>
            <string>MX Location</string>
        </dict>
    </array>
    <key>LCDataUUID</key>
    <string>MXLOCATION-DATA</string>
    <key>LCPatchRevision</key>
    <integer>99999</integer>
    <key>MultitaskSpecified</key>
    <integer>1</integer>
    <key>dontInjectTweakLoader</key>
    <true/>
    <key>dontLoadTweakLoader</key>
    <true/>
    <key>dontSign</key>
    <true/>
    <key>is32bit</key>
    <false/>
</dict>
</plist>

